*{
    background-color: black;
    color: white;
}

#container {
    text-align: center;
    margin-top: 50px;
}
#container.text{
    padding: 20px;
}
#container hr{
    width: 200px;
}
#error {
    margin-bottom: 10px;
}

button {
    margin: 5px;
    background-color: white;
    border: none;
    outline: none;
    height: 50px;
    width: 100px;
    color: black;
}
